body {
  margin: 0;
  overflow-x: hidden;

  .App {

    @media (orientation: portrait){
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    #area {
      width: 100vw;
      height: 100vh;
      background-color: #eee;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (orientation: portrait){
        height: auto;
        flex: 1;
      }

      #tweet-inner {
        border-radius: 20px;
        background-color: #fff;

        @media (orientation: portrait){
          width: 100%;
        }

        #tweet-heading {
          padding-left: 16px;
          height: 53px;
          border-bottom: 1px solid #c4cfd6;
          display: flex;
          align-items: center;

          svg {
            width: 20px;
            height: 20px;
            fill: #1da1f2;
          }
        }

        #tweet-content {
          display: flex;
          padding: 16px;
          width: 100%;

          #user-avatar {
            margin-right: 12px;

            img {
              border-radius: 50%;
            }
          }

          #tweet-editor {
            position: relative;
            flex: 1;

            textarea {
              width: 504px;
              height: 120px;
              font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
              font-size: 20px;
              border: 0;
              resize: none;

              &#only-android {
                position: absolute;
                display: none;
                opacity: 0;
              }

              @media (orientation: portrait){
                width: 100%;

                &#only-android {
                  display: block;
                  width: 100%;
                }
              }

              &:focus {
                outline: 0;
              }
            }

            #tweet-buttonbar {
              border-top: 1px solid #ebeef0;
              padding-top: 12px;
              display: flex;
              justify-content: space-between;

              #tweet-bar-buttons {
                flex: 1;
                display: flex;
                align-items: center;

                @media (orientation: portrait){
                  width: 0;
                  flex: 0;
                }
              }

              #tweet-action {
                background-color: #1da1f2;
                border: 0;
                transition-property: background-color, box-shadow;
                border-radius: 9999px;
                transition-duration: 0.2s;
                font-weight: 700;
                padding-left: 1em;
                padding-right: 1em;
                color: #fff;
                height: 40px;
                width: 100px;
                font-size: 15px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                &:focus {
                  outline: 0;
                }

                &:hover {
                  background-color: #1a91da;
                }
              }
            }
          }
        }
      }
    }

    .button-placeholder {
      $size: 15px;
      width: $size;
      height: $size;
      background-color: #1da1f2;
      border-radius: 100%;
      display: inline-block;
      margin: 10px;
    }

    footer {
      background-color: #ddd;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin-bottom: 0;
      }
    }
  }
}
